#dreditor-clone-button {
  background: white;
  border: 0px solid white;
  border-radius: 4px;
  box-shadow: none;
  color: #668a19;
  font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 4px;
  text-transform: none;
}

#dreditor-clone-button:hover {
  background: #668a19;
  color: white;
}

.dreditor-actions {
  background: #f6f6f2;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 10px;
}