.not-front #block-search-form input[type=submit] {
  height: 27px;
  margin-top: 0px;
  padding: 2px 18px 6px 18px;
}

.not-front #block-search-form input[type=text] {
  background-position: 8px -858px;
  border: 0px solid white;
  border-radius: 4px;
  padding: 4px 4px 4px 30px;
  width: 274px;
}

.not-front #header-left {
  height: 50px;
}

.not-front #header-right {
  width: 372px;
}

.not-front #header-right-inner {
  margin-top: 5px;
}

.not-front #site-name {
  position: relative;
  top: -22px;
}
