
#project-solr-browse-projects-form {
  .remove-padding();
  border: 1px solid #CCC;
  top: -11px;
  border-radius: 4px 4px 0 0;

  .form-item {
    position: relative;

    select, input[type=text] {
      position: absolute;
      top: 0;
      left: 180px;
      width: 200px;
      height: 22px;
    }
  }
}