
#project-solr-browse-projects-form {
  .remove-padding();
  border: @drupal-block-border;
  top: -11px;
  border-radius: @drupal-block-border-radius @drupal-block-border-radius 0 0;

  .form-item {
    position: relative;

    select, input[type=text] {
      position: absolute;
      top: 0;
      left: 180px;
      width: 200px;
      height: 22px;
    }
  }
}